

<!DOCTYPE html>
<html>
<head>
<style type="text/css">
<meta charset="UTF-8">
<title>攻击价格计算
</title>
</style>
</head>
<body>
<form>
服务器1攻击量：
<input type="text"  value={{ oneqps }}>
<br/>
服务器2攻击量：
<input type="text" value={{ twoqps }}>
<br/>
服务器3攻击量：
<input type="text" value={{ threeqps }}>
<br/>
服务器4攻击量：
<input type="text" value={{ fourqps }}>

<br/>
服务器5攻击量：
<input type="text" value={{ fiveqps }}>
<br/>
服务器6攻击量：
<input type="text" value={{ sixqps }}>
<br/>
服务器7攻击量：
<input type="text" value={{ sevenqps }}>
<br/>
服务器8攻击量：
<input type="text" value={{ eightqps }}>
</form>
<form>
应付金额：
<input type="text" name="oneprice" value={{ oneprice }}元>
<br/>
应付金额：
<input type="text" name="twoprice" value={{ twoprice }}元>
<br/>
应付金额：
<input type="text" name="threeprice" value={{ threeprice }}元>
<br/>
应付金额：
<input type="text" name="fourprice" value={{ fourprice }}元>
<br/>
应付金额：
<input type="text" name="fiveprice" value={{ fiveprice }}元>
<br/>
应付金额：
<input type="text" name="sixprice" value={{ sixprice }}元>
<br/>
应付金额：
<input type="text" name="sevenprice" value={{ sevenprice }}元>
<br/>
应付金额：
<input type="text" name="eightprice" value={{ eightprice }}元>
总计应付金额：
<input type="text" name="eightsum" value={{ eightsum }}元>
</form>
</body>
</html>

